DATABASE_URL=sqlite:///.data/zuti/db.sqlite
CERT_FILE=/etc/zuti/certs/cert.pem
KEY_FILE=/etc/zuti/certs/key.pem
SERVER_ADDRESS=127.0.0.1:8443
JWT_SECRET=your_secret_key_change_in_production
RECOMMENDED_APPS=https://z9p.net/RecommendedApps.json
UPDATE_URL=https://z9p.net/onenas
CHANNEL=stable
