#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	 [ -f "$$HOME/.cargo/env" ] && . "$$HOME/.cargo/env"; cargo build --release
	# Create db.sqlite by applying all up migrations in order
	find migrations -name 'up.sql' | sort | while read f; do sqlite3 db.sqlite < "$$f"; done

override_dh_auto_install:
	install -D -m 755 target/release/zuti debian/zuti/usr/bin/zuti
	install -d -m 755 debian/zuti/usr/share/zuti/migrations
	cp -a migrations/* debian/zuti/usr/share/zuti/migrations/
	install -D -m 644 db.sqlite debian/zuti/usr/share/zuti/db/db.sqlite
	install -D -m 644 .env.example debian/zuti/etc/zuti/.env.example
	install -D -m 644 podman/registries.conf debian/zuti/etc/containers/registries.conf

override_dh_auto_clean:
	 [ -f "$$HOME/.cargo/env" ] && . "$$HOME/.cargo/env"; cargo clean
	rm -f db.sqlite
	dh_auto_clean
