[Unit]
Description=Zuti Storage Management Service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/.data/zuti
Environment="RUST_LOG=info"
EnvironmentFile=-/etc/zuti/.env
ExecStart=/usr/bin/zuti
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal
SyslogIdentifier=zuti

# Security hardening
NoNewPrivileges=true
ProtectHome=false
ProtectSystem=strict
MountFlags=shared
BindPaths=/.data/zuti /var/log/zuti /etc /home -/var/lib/containers -/var/lib/samba -/mnt -/nas -/data -/tools -/software -/downloads -/public -/photos -/archives -/movies -/projects -/docker -/music
ProtectKernelTunables=false
ProtectKernelModules=false
ProtectControlGroups=false


[Install]
WantedBy=multi-user.target
